

:root {
    --primary-color: #45a2e8;
    --secondary-color: #dee9f1;
    --light-grey: #D9D9D9;
    --dark-grey: #A8A8A8;
    --text-color: #fcfcfc;
    --white: #fcfcfc;
    --shadow-color: rgba(12, 73, 157, 0.1);
    --button-width: 147px;
    --button-height: 35px;
    --border-radius: 15px;
    --font-size: 18px;
    --font-size-medium: 16px;
    --font-size-small: 14px;
    --padding-horizontal: 20px;
    --padding-vertical: 5px;

    
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    font-family: 'Roboto', sans-serif;
}